<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<form action="/products">
    <div>
        <label for="catalog">Catalog:
            <select id="catalog" name="catalogId" >
                <option selected> -- select an option --</option>
                <option th:each="catalog : ${catalogs}"
                        th:value="${catalog.getId()}"
                        th:text="${catalog.getCategory()}">Catalog category
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="brand">Brand:
            <select id="brand" name="brand">
                <option selected value> -- select an option --</option>
                <option th:each="brand : ${brands}"
                        th:value="${brand.name()}"
                        th:text="${brand.name()}">Brand name
                </option>
            </select>
        </label>
    </div>
    <label for="brand">Brand:
        <input id="brand" type="text" name="brand">
    </label><br>
    <label for="priceMin">PriceStart:
        <input id="priceMin" type="number" name="priceMin">
    </label><br>
    <label for="priceMax">PriceEnd:
        <input id="priceMax" type="number" name="priceMax">
    </label><br>
    <button type="submit">Filter</button>
    <br>
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${products.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${products.metadata.size}">
        </label>
    </div><br>
</form>
<div th:each="product : ${products.content}">
    <a th:href="@{'/products/' + ${product.id}}"
       th:text="|id: ${product.id}. price: ${product.price}, brand: ${product.brand.name()}|">Product</a>
    <a href="/shoppingcarts/registration">Добавить товар в корзину</a>
<!--    <form th:action="@{/shoppingcarts/registration}" method="get">-->
<!--        <button type="submit">Add product in order</button>-->
<!--    </form>-->
<!--    <form th:action="@{/orders/{orderId}/shopping(orderId=${order.id})}/" method="post">-->
<!--        <button type="submit">Add product in order</button>-->
<!--    </form>-->
</div>
</body>
</html>

<!--<a th:href="@{'/products/' + ${product.id}}"-->
<!--   th:text="|id: ${product.id}. price: ${product.price}, brand: ${product.brand.name()}|">Product</a>-->


<!--<form th:action="@{/catalogs/{catalogId}/update(catalogId=${catalog.id})}" method="post" th:object="${catalog}">-->
<!--    <label for="category">Category:-->
<!--        <input id="category" type="text" name="category" th:value="*{category}">-->
<!--    </label> <br>-->
<!--    <button type="submit">Update</button><br>-->
<!--</form><br>-->
<!--<form th:action="@{/catalogs/{catalogId}/delete(catalogId=${catalog.id})}" method="post">-->
<!--    <button type="submit">Remove</button>-->
<!--</form><br>-->
<!--<form th:action="@{/catalogs/{catalogId}/onecatalog(catalogId=${catalog.id})}" method="get">-->
<!--    <button type="submit">Redirect to products from catalog</button>-->
<!--</form>-->
<!--<form th:action="@{/users/registration}" method="get">-->
<!--    <button type="submit">Redirect create User</button>-->

<!--<div th:each="product : ${products.content}">-->
<!--    <form th:action="@{'/products/' + ${product.id}}">-->
<!--        <-->
<!--        <button type="submit">Add product in order</button>-->
<!--    </form>-->
<!--</div>-->