<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<form action="/productsfromorder">
    <label for="deliveryDate">Date of order:
        <input id="deliveryDate" type="date" name="deliveryDate">
    </label><br>
    <button type="submit">Filter</button>
</form>
<div th:each="product : ${products.content}">
    <a th:href="@{'/products/' + ${product.id}}"
       th:text="|id: ${product.id}. price: ${product.price}, brand: ${product.brand.name()}|">Product</a>
</div>
</body>
</html>