<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form action="/products">
    <div>
        <label for="catalog">Catalog:
            <select id="catalog" name="catalogId">
                <option selected></option>
                <option th:each="catalog : ${catalogs}"
                        th:value="${catalog.id}"
                        th:selected="${catalog.id == filter.catalogId}"
                        th:text="${catalog.category}">Catalog category
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="brand">Brand:
            <select id="brand" name="brand">
                <option selected></option>
                <option th:each="brand : ${brands}"
                        th:value="${brand.name()}"
                        th:selected="${brand == filter.brand}"
                        th:text="${brand.name()}">Brand name
                </option>
            </select>
        </label>
    </div>
    <label for="priceMin">PriceStart:
        <input id="priceMin" type="number" name="priceMin" th:value="${filter.priceMin}">
    </label><br>
    <label for="priceMax">PriceEnd:
        <input id="priceMax" type="number" name="priceMax" th:value="${filter.priceMax}">
    </label><br>
    <button type="submit">Filter</button>
    <br>
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div><br>
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${products.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${products.metadata.size}">
        </label>
    </div><br>
</form>
<div th:each="product : ${products.content}">
    <a th:href="@{'/products/' + ${product.id}}"
       th:text="|id: ${product.id}. price: ${product.price}, brand: ${product.brand.name()}|">Product</a>
    <form th:action="@{/shoppingcarts/{productId}(productId=${product.id})}" th:if="${status}" method="post">
        <button type="submit">Add to shoppingcart</button>
    </form>
    <form th:action="@{/products/{productId}/add(productId=${product.id})}" method="post">
        <label for="count14">PriceStart:
            <input id="count14" type="number" name="count14">
        </label><br>
        <button type="submit">Add product in List</button>
    </form>
</div><br>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>
