<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<form action="/products">
    <div>
        <label for="catalog">Catalog:
            <select id="catalog" name="catalogId" >
                <option selected> -- select an option --</option>
                <option th:each="catalog : ${catalogs}"
                        th:value="${catalog.getId()}"
                        th:text="${catalog.getCategory()}">Catalog category
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="brand">Brand:
            <select id="brand" name="brand">
                <option selected value> -- select an option --</option>
                <option th:each="brand : ${brands}"
                        th:value="${brand}"
                        th:text="${brand.name()}">Brand name
                </option>
            </select>
        </label>
    </div>

    <label for="brand">Brand:
        <input id="brand" type="text" name="brand">
    </label><br>
    <label for="priceA">PriceStart:
        <input id="priceA" type="number" name="priceA">
    </label><br>
    <label for="priceB">PriceEnd:
        <input id="priceB" type="number" name="priceB">
    </label><br>
    <button type="submit">Filter</button>
    <br>
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${products.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${products.metadata.size}">
        </label>
    </div><br>
</form>
<div th:each="product : ${products.content}">
    <a th:href="@{'/products/' + ${product.id}}"
       th:text="|id: ${product.id}. price: ${product.price}, brand: ${product.brand.name()}|">Product</a>
</div>
</body>
</html>