<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Product</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/products}" enctype="multipart/form-data" method="post" th:object="${product}">
    <label for="model">Model:
        <input id="model" type="text" name="model" th:value="*{model}">
    </label> <br>
    <label for="dateOfRelease">DateOfRelease:
        <input id="dateOfRelease" type="date" name="dateOfRelease" th:value="*{dateOfRelease}">
    </label> <br>
    <label for="price">Price:
        <input id="price" type="number" name="price" th:value="*{price}">
    </label> <br>
    <label for="image">Image:
        <input id="image" type="file" name="image" th:value="*{image}">
    </label> <br>
    <span th:each="color : ${colors}">
            <input th:id="${color}" type="radio" name="color" th:value="${color}" th:checked="${color == product.color}">
            <label th:for="${color}" th:text="${color}">Color name</label>
        </span><br>
    <span th:each="brand : ${brands}">
            <input th:id="${brand}" type="radio" name="brand" th:value="${brand}" th:checked="${brand == product.brand}">
            <label th:for="${brand}"  th:text="${brand}">Color name</label>
        </span><br>
    <div>
        <label for="catalog">Catalog:
            <select id="catalog" name="catalogId">
                <option th:each="catalog : ${catalogs}"
                        th:value="${catalog.getId()}"
                        th:selected="${catalog.getId() == product.catalogId}"
                        th:text="${catalog.getCategory()}">Catalog</option>
            </select>
        </label>
    </div>
    <button type="submit">Register</button>
</form>
</body>
</html>