
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All orders one user</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form action="/orders/allordersofoneuser">
    <div>
        <label for="email">Email:
            <input id="email" type="text" name="email" th:value="${personalFilter.email}">
        </label>
        <label for="date">Delivery date:
            <input id="date" type="date" name="deliveryDate" th:value="${orderFilter.deliveryDate}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div th:each="shoppingcart : ${shoppingcarts}">
    <a th:href="|/products/ + ${shoppingcart.product.id}|"
    th:text="|Order id:${shoppingcart.order.id} category:${shoppingcart.product.catalog.category} model:${shoppingcart.product.model}
    count:${shoppingcart.count} email: ${shoppingcart.order.user.email}|">Order</a>
</div>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>


















