<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All orders one user</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:each="order : ${orders}">
    <a th:href="@{'/orders/' + ${order.id} + '?status=' + ${order.status}}"
     th:text="|Order number: ${order.id}. Delivery date: ${order.deliveryDate} status: ${order.status}|">Order</a>
</div>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>



















