<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:insert="~{fragment :: locale}"></div>
<form th:action="@{/orders/create}" method="post" th:object="${order}">
    <label for="city"><span th:text="#{order.city}">City:</span>
        <input id="city" type="text" name="city" th:value="*{city}">
    </label><br>
    <label for="street"><span th:text="#{order.street}">Street:</span>
        <input id="street" type="text" name="street" th:value="*{street}">
    </label><br>
    <label for="building"><span th:text="#{order.building}">Building:</span>
        <input id="building" type="text" name="building" th:value="*{building}">
    </label><br>
    <label for="deliveryDate"><span th:text="#{order.deliverydate}">DeliveryDate:</span>
        <input id="deliveryDate" type="date" name="deliveryDate" th:value="*{deliveryDate}">
    </label>
    <label for="user">
        <input id="user" type="number" hidden readonly name="userId" th:value="${userid}">
    </label>
    <label for="status">
        <input id="status" type="text" hidden readonly name="status" value="IN_PROGRESS">
    </label>
    <div th:each="paymentCondition : ${payments}">
        <input th:id="${paymentCondition}" type="radio" name="paymentCondition" th:value="${paymentCondition}" th:checked="${paymentCondition == order.paymentCondition}">
        <label th:for="${paymentCondition}" th:text="${paymentCondition}">Role name</label>
    </div>
    <button type="submit"><span th:text="#{order.button.registration}">Registration</span></button>
</form>
<form th:action="@{/users/{userId}(userId=${userid})}" method="get">
    <button type="submit"><span th:text="#{order.redirect.to.your.account}">Redirect to your account</span></button>
</form>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>