<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>After login</title>
</head>
<body>
    Здравствуйте, хотите продолжить предыдущий Ваш заказ?
    <form th:action="@{/orders/afterloginpage}" method="get">
        <label for="username">Firstname:
            <input id="username" type="text" name="firstName">
        </label><br>
      <button type="submit">Continue old order</button>
    </form>
<!--    <form th:action="@{/shoppingcarts/{productId}(productId=${product.id})}" method="post">-->
<!--      <button type="submit">New order</button>-->
<!--    </form>-->
</body>
</html>