<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration User</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<form th:action="@{/users}" method="post" th:object="${user}">
  <label for="username"><span th:text="#{registration.firstname}">Firstname:</span>
    <input id="username" type="text" name="firstName" th:value="*{firstName}">
  </label><br>
  <label for="lastname"><span th:text="#{registration.lastname}">Lastname:</span>
    <input id="lastname" type="text" name="lastName" th:value="*{lastName}">
  </label><br>
  <label for="email"><span th:text="#{registration.email}">Email:</span>
    <input id="email" type="text" name="email" th:value="*{email}">
  </label><br>
  <label for="password"><span th:text="#{registration.password}">Password:</span>
    <input id="password" type="text" name="password">
  </label><br>
  <label for="telephone"><span th:text="#{registration.telephone}">Telephone:</span>
    <input id="telephone" type="text" name="telephone" th:value="*{telephone}">
  </label><br>
  <label for="birthDate"><span th:text="#{registration.birthdate}">BirthDate:</span>
    <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
  </label><br>
  <div th:each="role : ${roles}">
    <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
    <label th:for="${role}" th:text="${role}">Role name</label>
  </div>
  <button type="submit"><span th:text="#{registration.buttonregistration}">Registration:</span></button>
</form>
<div th:if="${errors}">
  <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>

