<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<form action="/users">
  <label for="startDate">StartDate:
    <input id="startDate" type="date" name="startDate">
  </label><br>
  <label for="endDate">EndDate:
    <input id="endDate" type="date" name="endDate">
  </label><br>
  <button type="submit">Filter</button>
<div th:each="user : ${users}">
  <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id}. ${user.lastName}|">User</a>
</div>
</form>
</body>
</html>

