<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalogs</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:insert="~{fragment :: locale}"></div>
<div th:each="catalog : ${catalogs}">
    <a th:href="@{'/catalogs/' + ${catalog.getId() + '/onecatalog'}}"
       th:text="|#{product.registration.catalog.category} Category: ${catalog.getCategory()}|">Catalog</a>
</div><br>
<div th:each="catalog : ${catalogs}">
    <div th:each="role : ${#authentication.principal.authorities}">
    <a th:href="@{'/catalogs/' + ${catalog.getId()}}"
       th:text="|Enter in the catalog for Admin Category: ${catalog.getCategory()}|" th:if="${role.name() == 'ADMIN'}">Catalog</a>
</div>
</div><br>
<form th:action="@{/users/{userId}(userId=${userId})}" method="get">
    <button type="submit"><span th:text="#{order.redirect.to.your.account}">Redirect to your account</span></button>
</form><br>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>