<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/catalogs/{catalogId}/update(catalogId=${catalog.id})}" method="post" th:object="${catalog}">
    <label for="category">Category:
        <input id="category" type="text" name="category" th:value="*{category}">
    </label> <br>
    <button type="submit">Update</button><br>
</form><br>
<form th:action="@{/catalogs/{catalogId}/delete(catalogId=${catalog.id})}" method="post">
    <button type="submit">Remove</button>
</form><br>
    <form th:action="@{/catalogs/{catalogId}/onecatalog(catalogId=${catalog.id})}" method="get">
        <button type="submit">Redirect to products from catalog</button>
    </form>
<form th:action="@{/users/registration}" method="get">
    <button type="submit">Redirect create User</button>
</form>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>
