<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="header">
    <span th:text="${#authentication.principal.username}">Email</span>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<div th:fragment="locale">
    <form action="">
        <select name="lang" onchange="this.form.submit()">
            <option></option>
            <option value="en">EN</option>
            <option value="ru">RU</option>
        </select>
    </form>
</div>
<br>
<div th:fragment="footer">
    <form action="/catalogs" method="get">
        <button type="submit">Redirect to catalogs</button>
    </form>
    <form action="/orders/registration" method="get">
        <button type="submit">Redirect to order registration</button>
    </form>
    <form action="/products" method="get">
        <button type="submit">Redirect to products</button>
    </form>
    <form action="/products/registration" method="get">
        <button type="submit">Redirect product registration</button>
    </form>
    <form action="/orders/allordersbyuserid" method="get">
        <button type="submit">Redirect to your orders</button>
    </form>
    <form action="/orders/allordersofoneuser" method="get">
        <button type="submit">Redirect to your orders with all products</button>
    </form>
    <form action="/orders/getstatisticofeachorderswithsum" method="get">
        <button type="submit">Redirect to order statistic sum</button>
    </form>
    <form action="/orders/afterloginpage" method="get">
        <button type="submit">Continue old order</button>
    </form>
    <form action="/users" method="get">
        <button type="submit">Redirect to list of users</button>
    </form>
</div>
<br>
<div th:fragment="payment">
    <form action="/payments" method="get">
        <button type="submit">Redirect to payments</button>
    </form>
</div>
</body>
</html>