<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="header">
    <span th:text="${#authentication.principal.username}">Email</span>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<div th:fragment="locale">
    <form action="">
        <select name="lang" onchange="this.form.submit()">
            <option></option>
            <option value="en">EN</option>
            <option value="ru">RU</option>
        </select>
    </form>
</div>
<br>
<div th:fragment="footer">
    <form action="/catalogs" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.to.catalogs}">Redirect to catalogs</span></button>
    </form>
    <form action="/orders/reg" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.to.order.registration}">Redirect to order registration</span></button>
    </form>
    <form action="/products/registration" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.to.product.registration}">Redirect to product registration</span></button>
    </form>
    <form action="/products" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.to.products}">Redirect to products</span></button>
    </form>
    <form action="/orders/allordersbyuserid" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.to.your.orders}">Redirect to your orders</span></button>
    </form>
    <form action="/orders/allordersofoneuser" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.to.orders.with.all.products}">Redirect to orders with all products</span></button>
    </form>
    <form action="/orders/getstatisticofeachorderswithsum" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.to.orders.statistic.sum}">Redirect to order statistic sum</span></button>
    </form>
    <form action="/orders/afterloginpage" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.continue.order}">Continue old order</span></button>
    </form>
    <form action="/users" method="get">
        <button type="submit"><span th:text="#{fragment.redirect.list.of.users}">Redirect to list of users</span></button>
    </form>
</div>
<br>
<div th:fragment="payment">
    <form action="/payments" method="get">
        <button type="submit">Redirect to payments</button>
    </form>
</div>
</body>
</html>